@use '../utils/breakpoints';

.checkout-section {
    padding: 5% 0;
}

.formblock {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.checkoutbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5% 0 5%;

    @include breakpoints.media-breakpoint-up(992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 4rem;
        padding: 0;

        > .formbox {
            order: -1;
        }

        > .totalbox {
            align-self: flex-start;
        }
    }

    > .totalbox {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: .5rem;
        background: #f2f2f2;
        padding: 1.5rem;
    }
}

.orderbox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > .itembox {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 1.5rem;

        > .imagebox {
            > .image {
                border-radius: 1rem;
            }
        }

        > .contentbox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

            > .infobox {
                display: flex;
                flex-direction: column;
                gap: .2rem;

                > .title {
                    font-size: 1.1rem;
                }
            
                > .current-price {
                    font-weight: bold;
                    color: #f2994a;

                    > .previous-price {
                        font-size: .7rem;
                        text-decoration: line-through;
                        color: #4e5150;
                    }
                }
            }

            // number-spinner
            > .number-spinner {
                display: flex;
                align-items: center;
                gap: .5rem;
                padding: .5rem;
                border: .01rem solid #acacac;
                border-radius: .6rem;
                align-self: flex-start;

                > .decrease-btn,
                > .increase-btn {
                    background: #e0e0e0;
                    padding: 0 .2rem;
                    border-radius: .2rem;

                    &.-disabled {
                        opacity: .5;
                    }
                }

                > .number {
                    text-align: center;
                    border: 0;
                    background: transparent;
                    width: 4rem;

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
}

.receiptbox { 
    .title {
        font-size: 1rem;
    }

    > .shippingbox,
    > .resultbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
        border-top: .01rem solid #d0d0d0;
    }
}

// contact-form
.formbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .label {
        font-weight: bold;
        font-size: .8rem;
    }
}

.contactbox,
.shippingbox {
    > .inputgroup {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > .inputbox {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            > .inputblock {
                display: flex;
                align-items: center;
                gap: .5rem;
                padding: .5rem 1rem;
                border: .01rem solid #acacac;
                border-radius: .6rem;

                > input {
                    flex: 1;
                    border: 0;

                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
}

.shippingbox {
    .checkout-btn {
        padding: .5rem 1rem;
        border-radius: .3rem;
        background: #f2994a;
        color: #fff;
        transition:
            background 250ms ease-in-out,
            transform 150ms ease;

        &:focus,
        &:hover {
            opacity: .7;
        }

        &:active {
            transform: scale(.99);
        }
    }

    > .inputgroup {
        > .btnblock {
            align-self: flex-end;
        }

        > .checkblock {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: .5rem;
        }

        > .two-column {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include breakpoints.media-breakpoint-up(600px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            > .columnbox {
                > .inputblock {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    padding: .5rem 1rem;
                    border: .01rem solid #acacac;
                    border-radius: .6rem;

                    > input,
                    > .country {
                        flex: 1;
                        border: 0;
                        background: transparent;

                        &:focus {
                            outline: 0;
                        }
                    }
                }
            }
        }
    }
}

.footerbox {
    > .description {
        opacity: .7;
        text-align: center;
    }
}
